[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CellaRepertorium"]
	path = CellaRepertorium
	url = https://github.com/amcdavid/cellarepertorium
